@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  font-family: Arial, Helvetica, sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  justify-content: center;
  align-items: center;
}

main {
  margin: 2;
  padding: 2;
}

button {
  background-color: grey;
  border: grey;
  border-radius: 10px;
  padding: 10px;
}

button:hover {
  background-color: rgb(66, 66, 66);
  cursor: pointer;
}

form {
  background: rgba(255, 255, 255, 0.1);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.3);
  width: 320px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  font-size: xx-large;
}

h2 {
  color: #fff;
  margin-bottom: 20px;
}
